.DS_Store
Makefile
CMakeCache.txt
CMakeFiles
cmake_install.cmake
config.py
craft
world
env
log.txt
*.o
*.db
*.exe
*.dll
*.pyc

.direnv
result
deps/glfw/examples/particles
deps/glfw/src/glfw_config.h
deps/glfw/tests
glfw*.cmake
